@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

/*-------------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
}

body {
  background-color: #151515;
  text-align: center;
}

header {
  padding: 20px 0 0 0;
}

.nav-section {
  display: flex;
  gap: 25px;

  justify-content: center;
  margin-top: 20px;
}

.nav-bar > img {
  width: 180px;
  margin-top: -94px;
  z-index: 1;
  position: relative;
}

.logoDois {
  display: none;
}

.presentation {
  margin-top: 50px;
}
.br {
  display: none;
}

.presentation > h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700px;
  padding: 1rem;
}

h1 > span {
  border-bottom: 4px solid #4ee1a0;
}

.presentation > p {
  color: #d9d9d9;
  font-size: 1rem;
  margin: 20px 16px;
  font-weight: 500;
}

.presentation > a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.28571px;
  color: #ffffff;
  padding: 1rem;
  border-bottom: 2px solid #4ee1a0;
}

.presentation > a:hover {
  color: rgb(76, 76, 224);
  transition: 0.4s;
  border-bottom: 2px solid #23aa6d;
}

/*-------------------------------------------------------------------*/

.container {
  margin: 80px;
  
  border-top: 2px solid white;
  
}

.box {
  margin-bottom: 24px;
}

.boxMargin {
  margin-top: 40px;
}

.box > h1 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1px;
  color: #ffffff;
}

.box > p {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #d9d9d9;
}
